modules = ["nodejs-24"]

run = "node server.js"

[deployment]
run = ["sh", "-c", "node server.js"]
build = ["sh", "-c", "npm install"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[nix]
channel = "stable-25_05"
